.greenbean-pack-auto-complete {
  ul {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
  }
  li {
    width: 100%;
    z-index: 1;
    overflow: hidden;
    transition: height 0.2s ease-in-out;
  }
}
